.main-red {
    background-color: #F21D44;
}

.main-red-text {
    color: #F21D44;
}

.off-red {
    background-color: #FDCDC1;
}

.main-yellow {
    background-color: #f8d257;
}

.main-yellow-text {
    color: #f8d257;
}

.off-yellow {
    background-color: #FDEEC9;
}

.main-green {
    background-color: #04A454;
}

.main-green-text {
    color: #04A454;
}

.off-green {
    background-color: #CCE2D0;
}

.main-blue {
    background-color: #0861A5;
}

.main-blue-text {
    color: #0861A5;
}
.off-blue {
    background-color: #C1CCE7;
}

.dark-gray-bg {
    background-color: #8C8D90;
}

.dark-gray-text {
    color: #8C8D90;
}

.medium-gray {
    color: #B6B6B7;
}

.light-gray-bg {
    background-color: #E9E6E8;
}

.number-box-square {
    height: 3em;
    line-height: 3em;
    width: 3em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.637);
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}