.main-red {
    background-color: #F21D44;
}

.main-red-text {
    color: #F21D44;
}

.off-red {
    background-color: #FDCDC1;
}

.main-yellow {
    background-color: #f8d257;
}

.main-yellow-text {
    color: #f8d257;
}

.off-yellow {
    background-color: #FDEEC9;
}

.main-green {
    background-color: #04A454;
}

.main-green-text {
    color: #04A454;
}

.off-green {
    background-color: #CCE2D0;
}

.main-blue {
    background-color: #0861A5;
}

.main-blue-text {
    color: #0861A5;
}
.off-blue {
    background-color: #C1CCE7;
}

.dark-gray-bg {
    background-color: #8C8D90;
}

.dark-gray-text {
    color: #8C8D90;
}

.medium-gray {
    color: #B6B6B7;
}

.light-gray-bg {
    background-color: #E9E6E8;
}

.number-box-square {
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.637);
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 20%;
}

.bluedice {
    background-image: url('../src/assets/blue-dice.png');
    width: 110px;
    height: 110px;
    position: absolute;
}

.greendice {
    background-image: url('../src/assets/green-dice.png');
    width: 110px;
    height: 110px;
    position: absolute;
}

.yellowdice {
    background-image: url('../src/assets/yellow-dice.png');
    width: 110px;
    height: 110px;
    position: absolute;
}

.reddice {
    background-image: url('../src/assets/red-dice.png');
    width: 110px;
    height: 110px;
    position: absolute;
}

.whitedice {
    background-image: url('../src/assets/white-dice.png');
    width: 110px;
    height: 110px;
    position: absolute;
}

.dice1 {
    background-position: 0px 0px;
}

.dice2 {
    background-position: -110px 0px;
}

.dice3 {
    background-position: -220px 0px;
}

.dice4 {
    background-position: -330px 0px;
}

.dice5 {
    background-position: -440px 0px;
}

.dice6 {
    background-position: -550px 0px;
}

.pseudo-button {
    cursor: pointer;
}

.score-table {
    background-color: white;
}

.score-table td {
    text-align: center;
    border: solid 1px;
    max-width: 0px; /* Makes the cells equal widths*/
}